.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side-bar-top{
  height: 100px;
  padding: 0 20px;
}
.side-bar-bottom{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.chat{
  width: calc(100vw - 300px);
}
.chat-top{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}
.chat-main{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;

}
.chat-bottom{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;

}